<%= error_messages_for 'script' %>

<!--[form:script]-->
<p><label for="script_title">Title</label><br/>
<%= text_area 'script', 'title'  %></p>

<p><label for="script_file_name">File name</label><br/>
<%= text_area 'script', 'file_name'  %></p>

<p><label for="script_description">Description</label><br/>
<%= text_area 'script', 'description'  %></p>

<p><label for="script_tag_list">Tags</label><br/>
<%= text_area 'script', 'tag_list'  %></p>
<!--[eoform:script]-->

