<% for column in TableMap.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @table_map.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @table_map %> |
<%= link_to 'Back', :action => 'list' %>
